@import "bootstrap/dist/css/bootstrap.min.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url("index.css");
@import url("create_account.css");
*{
    font-family:"Cairo", sans-serif;;
}
.btn-primary{
  background-color: #1193d4 !important  ;
  color: white !important;
}
.btn{
  padding: 10px 20px;
}
.btn-light{
  background-color: rgb(228, 224, 224) !important;
}
.btn-light:hover{
  background-color:rgb(178, 174, 174) !important ;
}
.btn-primary:hover{
  background-color: #1193d9 !important;
  border-color: #1193d4 !important;
  color: #fff !important;
}
.noborder{
  border: none !important;
}
